.top{    
    padding: 20px;
}

.middle{
    padding: 20px;
}

.bottom{
    padding: 20px;
}

.return{
    padding: 10px;
}

.menu{
    background-color: powderblue;
    border-radius: 10px;
}

button{
    padding: 7px;
}