<div class="menu">

<div class="top">
<button routerLink="chapter-one">
  Chapter One
</button>
<button routerLink="chapter-two">
  Chapter Two
</button>
<button routerLink="chapter-three">
  Chapter Three
</button>
<br>
</div>

<div class="middle">
<button routerLink="chapter-four">
  Chapter Four
</button>
<button routerLink="chapter-five">
  Chapter Five
</button>
<button routerLink="chapter-six">
  Chapter Six
</button>
<br>
</div>

<div class="bottom">
<button routerLink="chapter-seven">
  Chapter Seven
</button>
<button routerLink="chapter-eight">
  Chapter Eight
</button>
<button routerLink="chapter-nine">
  Chapter Nine
</button>
</div>

<div class="return">
  <button routerLink="welcome">
    Return to Home
  </button>
</div>

</div>


